<!-- Button trigger modal -->
<button type="button" class="btn btn-primary actionbutton" data-toggle="modal" data-target="#addPostModal" id="addPost">
  <i class="fas fa-plus"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for :post, {url: "/feed"} do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="addPostModalTitle">New Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= text_area :post, :content, :placeholder => "What's on your mind?", :maxlength => 300, style: "width: 100%;", rows: 3 %>
          <h6 class="pull-right" id="count_message"></h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
          <%= f.submit "Post", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<ul style="list-style-type: none; color: white; padding-left: 0; margin-left: 10px; margin-top: 10px;">
    <% authors = [] # author cache
       @posts.each do |p|
        author_data = authors.detect {|e| e.username == p.author }
        if author_data.nil?
          author_data = User.find_by(username: p.author)
          next if author_data.nil?
          authors.push(author_data)
        end %>
        <li style="width: auto; margin-bottom: 10px;">
            <img src="<%= (if author_data.profile_pic.nil? then "https://dummyimage.com/256" else author_data.profile_pic[:small].url end) %>" class="rounded" style="width: 64px; float:left;">
            <p class="fl-right"> <!-- I have no idea why this works if both elements are paragraphs. Let's just keep it this way... -->
                <p style="margin-left: 74px;"> <!-- again, no idea why it needs to be 74 and not 10. -->
                    <a href="/@<%= p.author %>" style="color: white; text-decoration: none;"><b><%= p.author %></b></a><br/>
                    <%= raw(h(p.content.strip.gsub(/\r\n/, "\n")).gsub(/\n/, "<br />")) %>
                </p>
            </p>
            <div class="clear"></div>
        </li>
    <% end %>
</ul>

<script>
var text_max = 300;
$('#count_message').html(text_max + ' remaining');

$('#post_content').keyup(function() {
  var text_length = $('#post_content').val().length;
  var text_remaining = text_max - text_length;
  
  $('#count_message').html(text_remaining + ' remaining');
});
</script>